[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
  ignore = all
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-statline"]
	path = vim/bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline
[submodule "scm_breeze"]
	path = scm_breeze
	url = https://github.com/ndbroadbent/scm_breeze
  ignore = all
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
  ignore = all
